<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580597870948-v67epjnsbr4lvgc1hh0a9epnlfmh6t5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580597870948-v67epjnsbr4lvgc1hh0a9epnlfmh6t5s</string>
	<key>API_KEY</key>
	<string>AIzaSyB0WrqvlOWOKXhB0OiP13J6CgFhFQEC27I</string>
	<key>GCM_SENDER_ID</key>
	<string>580597870948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olamGrains</string>
	<key>PROJECT_ID</key>
	<string>olam-grains</string>
	<key>STORAGE_BUCKET</key>
	<string>olam-grains.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580597870948:ios:41c7b4a4809e1d09738a71</string>
</dict>
</plist>